.custom-bold{
        font-weight: bold !important;
}


.img-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.85);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.img-popup .img-wrapper {
  max-width: 90%;
  max-height: 90%;
  overflow: auto;   /* vertical + horizontal scroll */
  cursor: auto;     /* hand cursor hata diya, normal scroll cursor */
  background: #fff; /* optional, image ko thoda contrast ke liye */
}

.img-popup img {
  width: 100%;      /* original width maintain */
  height: auto;     /* original height maintain */
  display: block;   /* scrollable */
}


.close-popup {
  position: fixed;
  top: 20px;
  right: 30px;
  font-size: 34px;
  color: #fff;
  cursor: pointer;
  z-index: 10000;
}
